{% extends "base.html" %}
{% load static %}

{% load widget_tweaks%}

{% block modal_experiment %}
{% include "includes/experiment_button.html" %}
{% endblock %}


{% block content %}
    <div class="container mt-5">
                        <div class="card mb-4 custom-shadow">
                            <div class="row">
                                <!-- Миниатюры -->
                                <div class="col-md-4">
                                    {% if not item.image%}
                                    <img hidde="True"
                                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">

                                    {% else %}
                                    <img src="{{ item.image.url }}"
                                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                                    {% endif %}

                                </div>
                                <div class="col-md-4">
                                    {% if not item.additional_image%}
                                    <img hidde="True"
                                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">

                                    {% else %}
                                    <img src="{{ item.additional_image.url }}"
                                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                                    {% endif %}

                                </div>
                                <div class="col-md-4 ">
                                    <p class="product_id mt-3">ID: {{item.display_id}}</p>
                                    {% if item.category_id == 3 %}
                                    <a href="{% url "tests:test" %}" class="button">Пройти тест</a>
                                    {% endif %}
                                </div>
                                <!-- Увеличить изображение в модальном окне -->
                                <div class="modal fade" id="imageModal1" tabindex="-1"
                                    aria-labelledby="imageModal1Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="imageModal1Label">{{item.name}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                            </div>
                                            <div class="modal-body">
                                                {% if not item.image %}
                                                <img hidden="True"
                                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                                                {% else %}
                                                <img src="{{ item.image.url }}"
                                                    class="img-fluid" alt="Изображение 1">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Конец увеличения изображения в модальном окне -->

                            </div>


                            <!-- Описание товара -->
                            <div class="card-body">
                                <div class="alert">
                                <h5 class="card-title">{{item.name}}</h5>
                                    <p class="card-text">{{item.description}}</p>
                                    <p class="card-text" {% if not item.units%} hidden="True" {% endif%}>Количество на складе: <strong>{{item.quantity}}
                                        {{item.get_units_display}}
                                        </strong></p>

                                    <p class="card-text" {% if not item.working_type%} hidden="True" {% endif%}>Тип работы оборудования:<strong>
                                        {{item.get_working_type_display}} </strong>
                                    {% if item.category_id == 3 %}
                                    <p>Готовность к работе: <strong>Да</strong></p>

                                        <div class="btn-dark">

                                            <a href="/experiment/experiment_add/?item_id={{item.id}}"
                                       class="btn btn-dark add-to-experiment"
                                           data-item-id="{{item.id}}">Добавить для эксперимента</a>

                                            </div>

                                        

                                    {% endif %}
                                    </p>


<!--{% url "experiment:experiment_add"%}-->
                                    {% if item.category_id == 2 %}
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}

                                        <input type="submit" {% if item.quantity <= 0%}
                                        hidden = "True"
                                        {% endif %}
                                        class="btn btn-dark" value="Добавить для эксперимента">
                                    </form>

                                    {% endif %}
<!--                                    <a href="/experiment/experiment_add/?item_id={{item.id}}"  class="btn btn-dark add-to-experiment"-->
<!--                                           data-item-id="{{item.id}}"-->

<!--                                           <form action="{% url "works:create_work"%}" method="post">-->
<!--                                        {% csrf_token %}-->

<!--                                        {% if item.quantity <= 0%}-->

<!--                                        hidden = "True"-->

<!--                                        {% endif %}-->

<!--                                        {% csrf_token %}-->
<!--                                        Добавить для экспериментов-->
<!--                                    </a>-->


                                </div>

                            </div>
                        </div>
                    </div>
{% endblock %}

