{% extends "base.html" %}
{% load static %}
{% load experiments_tags %}
{% load goods_tags %}
{% block content %}
                    <!-- Контент на странице -->
                    <div class="row">
                        <div class="container mt-5">
                            <div class="row">
                                <!-- Профиль с данными пользователя -->
                                <div class="col-md-5">
                                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                                        <h3 class="text-center mb-4">Профиль пользователя</h3>
                                        <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12 mb-3 text-center">
                                                    {% if user.image%}
                                                        <img src="{{user.image.url}}"
                                                        alt="Аватар пользователя" class="img-fluid rounded-circle"
                                                        style="max-width: 150px;">
                                                    {% else %}
                                                        <img src="{% static "deps/images/baseavatar.png" %}"
                                                        alt="Аватар пользователя" class="img-fluid rounded-circle"
                                                        style="max-width: 150px;">
                                                    {% endif %}
                                                    <input type="file" class="form-control mt-3" id="id_image" name="image"
                                                        accept="image/*">
                                                    {% if form.image.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label for="id_first_name" class="form-label">Имя*</label>
                                                    <input type="text" class="form-control" id="id_first_name"
                                                           name="first_name"
                                                        placeholder="Введите ваше имя"
                                                           value="{{ form.first_name.value}}" required>
                                                    {% if form.first_name.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label for="id_last_name" class="form-label">Фамилия*</label>
                                                    <input type="text" class="form-control" id="id_last_name"
                                                           name="last_name"
                                                        placeholder="Введите вашу фамилию" value="{{ form.last_name.value}}" required>
                                                    {% if form.last_name.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label for="id_username" class="form-label">Имя пользователя*</label>
                                                    <input type="text" class="form-control" id="id_username"
                                                           name="username"
                                                        placeholder="Введите ваше имя пользователя" value="{{ form.username.value}}" required>
                                                    {% if form.username.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label for="id_email" class="form-label">Email*</label>
                                                    <input type="email" class="form-control" id="id_email"
                                                           name="email"
                                                        placeholder="Введите ваш email *youremail@example.com" value="{{ form.email.value}}"
                                                        required>
                                                    {% if form.email.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-dark">Сохранить</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- Корзина -->
                                {% user_experiments request as experiments %}
                                <div class="col-md-7">
                                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                                        <h3 class="text-center mb-4">Эксперимент</h3>
                                        {% user_experiments request as experiments %}
                                        <div class="container" id="experiment-items-container">
                                            <!-- Разметка корзины -->
                                            {% include "experiments/includes/included_experiment.html"%}
                                            <!-- Закончилась разметка корзины, личный кабинет -->
                                        </div>
<!--                                        {% if experiments %}-->
<!--                                            <a class="btn btn-dark" href="{% url "works:create_work" %}">-->
<!--                                            Отправить эксперимент на одобрение-->
<!--                                            </a>-->
<!--                                        {% endif %}-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
<!--                              Разметка эксперимента  -->
                                <div class="container">

                                    <div class="accordion" id="accordionExample">
                                        {% for work in works %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading{{ work.id }}">
                                                <button class="accordion-button {% if work != works.0 %}collapsed{% endif %}" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse{{ work.id }}"
                                                        aria-expanded="false" aria-controls="collapse{{ work.id }}">
                                                    Работа № {{ work.id }} - {{ work.created_timestamp }} | Статус: <strong class="mx-2">
                                                    {% if work.status_experiment == True %}
                                                    Одобрено
                                                    {% elif work.status_experiment == False %}
                                                    Не одобрено
                                                    {% else %}
                                                    В обработке
                                                    {% endif %}
                                                    {% if work.is_done%}
                                                    Работа выполнена
                                                    {% endif %}
                                                </strong>
                                                </button>
                                            </h2>
                                            <div id="collapse{{ work.id }}" class="accordion-collapse collapse {% if work == work.0 %}show{% endif %}" aria-labelledby="heading{{ work.id }}" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <table class="table table-dark table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Предмет</th>

                                                                <th>Количество</th>
                                                                <th>Единицы измерения/<br>Тип работы</th>
                                                                <th>Дата проведения</th>
                                                                <th>Прикреплённые файлы</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            {% for item in work.workitem_set.all %}

                                                            <tr>
                                                                <td><a class="text-white" href = "item/<slug:item_slug>/?item_slug={{item.slug}}">

                                                                {{ item.item.name }}</a></td>
                                                                <td>{{ item.quantity }}</td>
                                                                {% if item.get_units_display %}
                                                                <td>{{ item.get_units_display }}</td>
                                                                {% else %}
                                                                <td>Тип работы</td>
                                                                {% endif %}
                                                                <td>{{item.date}}</td>
                                                                <td>{{work.additional_files }}</td>

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        {% if work.status_experiment == True %}
                                                        <form action="{% url "works:upload_results"%}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div>
                                                                <input type="hidden" id="id_work"
                                                                       value="{{work.id}}" name="work">
                                                            </div>
                                                        <div class="mb-3">

                                                            <label for="id_results" class="form-label">Прикрепите результаты* (Добавьте файл отчёта после проведения эксперимента):</label>
                                                                <input type="file" class="form-control" id="id_results"
                                                                value="{% if form2.results.value%}{{ form2.results.value }}{% endif %}"
                                                                name="results" rows="2">
                                                                {% if form2.results.errors %}
                                                                    <div class="alert alert-danger alert-dismissible fade show">{{form2.results.errors}}</div>
                                                                {% endif %}
                                                            <button type="submit" class="btn btn-dark">Прикрепить</button>

                                                        </div>
                                                        </form>
                                                        {% elif work.status_experiment == False %}
                                                        <div class="mb-3">

                                                            <label class="form-label">
                                                                Эксперимент был отклонён лаборантом
                                                            </label>

                                                        </div>
                                                        {% else %}
                                                        {% endif %}
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>


{% endblock %}